# Exemple simple de workflow GitHub Actions qui met un site statique en ligne

name: GitHub Pages

# La section "on:" contrôle dans quels cas ce workflow va s'exécuter
#
# Plus de documentation ici :
# - https://docs.github.com/fr/actions/how-tos/write-workflows/choose-when-workflows-run/trigger-a-workflow
# - https://docs.github.com/fr/actions/reference/workflows-and-actions/events-that-trigger-workflows#push
on:
  # Branche main + tags uniquement (on ne veut pas que la moindre branche de
  # développement change la version du site qui est en ligne)
  push:
    branches: ["main"]
    tags: ["*"]
  pull_request:
    branches: ["main"]

# La section "jobs:" indique ce qui se passe quand ce workflow s'exécute
#
# Plus de documentation ici :
# https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-syntax
jobs:
  # Ce job construit les pages HTML et les empaquete dans un artefact
  build:
    # GitHub fournit des runners préinstallés avec plusieurs versions de
    # Windows/macOS/Linux, il faut spécifier ce qu'on veut. Pour utiliser des
    # conteneurs Docker, on doit utiliser un runner Linux/Ubuntu.
    runs-on: ubuntu-latest

    # On utilise ici le générateur de site statique fourni par Sonny via un
    # conteneur Docker...
    container: docker://gitlab-registry.in2p3.fr/sonny.lion/astro-chef:1.1.1
    env:
      # ...avec une configuration adaptée pour GitHub Pages qui utilise des
      # URL du style https://hadrieng2.github.io/recettes/ et pas
      # https://recettes-abcdef.github.io/ comme le fait GitLab dans sa
      # configuration par défaut, ce qui casse les chemins de fichiers absolus.
      BASE_URL: "/recettes"

    # Les étapes indiquent les actions à effectuer, sous forme de séquence
    steps:
      # Certaines actions sont effectuées par des modules prêts à l'emploi,
      # fournis par GitHub ou des tierces parties...
      - name: Check out git repository
        # Documentation sur https://github.com/actions/checkout/
        uses: actions/checkout@v5

      # ...tandis que d'autres exécutent un script spécifié par l'utilisateur,
      # ici du bash exécuté au sein d'une image Docker préparée par Sonny
      - name: Build the static website
        run: |
          # On déplace les recettes à l'endroit attendu par astro-chef
          cp -r ./recettes $APP_DIR/recettes
          # On génère les pages HTML avec astro-chef
          (cd $APP_DIR && yarn build)
          # On ramène ces pages à un endroit où le runner GitHub peut les voir
          mv $APP_DIR/dist .

      # Pour des raisons de sécurité, GitHub encouragent fortement à ne pas
      # donner directement la permission de mettre le site en ligne à un job
      # complexe utilisant du code qu'on n'a pas sérieusement audité au niveau
      # sécu. A la place, ils recommandent d'utiliser deux jobs:
      #
      # - Ce premier job génère le site et empaquète les fichiers résultants
      #   au sein d'un artefact (grosso modo une archive compressée).
      # - Un deuxième job (ici "deploy") récupère cet artefact et met le site en
      #   ligne. Il ne fait rien d'autre. Seul ce second job est doté des
      #   privilèges spéciaux permettant la mise en ligne d'un site.

      # FIXME: Je ne peux pas utiliser upload-pages-artifact pour l'instant, cf
      #        https://gitlab.in2p3.fr/sonny.lion/astro-chef/-/merge_requests/1
      #
      # - name: Generate and upload the artifact
      #   # Documentation sur https://github.com/actions/upload-pages-artifact
      #   uses: actions/upload-pages-artifact@v4
      #   with:
      #     path: dist/
      #
      # FIXME: ...du coup pour l'instant je contourne en réimplémentant cette
      #        action avec le vocabulaire limité du tar de busybox
      - name: Build an artifact archive
        # Référence: https://github.com/actions/upload-pages-artifact/blob/7b1f4a764d45c48632c6b24a0339c27f5614fb0b/action.yml#L27
        run: |
          tar c  \
              -h  \
              -C dist  \
              -vf "$RUNNER_TEMP/artifact.tar"  \
              .
      - name: Upload the artifact
        uses: actions/upload-artifact@v5
        with:
          name: github-pages
          path: ${{ runner.temp }}/artifact.tar
          retention-days: 1
          if-no-files-found: error

  # Ce job met en ligne les pages HTML
  deploy:
    # Il dépend du job de construction du HTML (par défaut les jobs sont
    # considérés comme indépendants et s'exécutent en parallèle)
    needs: build

    # Il est investi de permissions supplémentaires qui lui permettent...
    permissions:
      pages: write      # ...de mettre des pages en ligne
      id-token: write   # ...et de s'authentifier comme source valide

    # On met en ligne sur GitHub pages, pas un autre hébergeur de site statique
    environment:
      name: github-pages
      # On donne un identifiant "pages" à l'étape de déploiement, ce qui nous
      # permet de récupérer l'url de la version en ligne dont on a besoin ici.
      url: ${{ steps.pages.outputs.page_url }}

    # Le reste est similaire à ce qu'on a vu précédemment
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: pages
        # Documentation sur https://github.com/actions/deploy-pages
        uses: actions/deploy-pages@v4

