# Exemple simple de workflow GitHub Actions qui met un site statique en ligne

name: GitHub Pages

# La section "on:" contrôle dans quels cas ce workflow va s'exécuter
#
# Les possibilités de filtrage sont détaillées dans ces documentations :
# - https://docs.github.com/fr/actions/how-tos/write-workflows/choose-when-workflows-run/trigger-a-workflow
# - https://docs.github.com/fr/actions/reference/workflows-and-actions/events-that-trigger-workflows#push
on:
  # Branche main + tags uniquement (on ne veut pas que la moindre branche de
  # développement change la version du site qui est en ligne)
  push:
    branches: ["main"]
    tags: ["*"]
  pull_request:
    branches: ["main"]

# La section "jobs:" indique ce qui se passe quand ce workflow s'exécute
#
# La syntaxe générale est détaillée dans cette documentation :
# https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-syntax
jobs:
  # Ce job construit les pages HTML et les empaquete dans un artefact
  build:
    # GitHub fournit des runners préinstallés avec plusieurs versions de
    # Windows/macOS/Linux, il faut spécifier ce qu'on veut. Pour utiliser des
    # conteneurs Docker, on doit utiliser un runner Linux/Ubuntu.
    runs-on: ubuntu-latest

    # On utilise ici le conteneur Docker fourni par Sonny
    container: docker://gitlab-registry.in2p3.fr/sonny.lion/astro-chef:1.0.0

    # Les étapes indiquent les actions à effectuer, sous forme de séquence
    steps:
      # Certaines actions sont effectuées par des modules prêts à l'emploi,
      # fournis par GitHub ou des tierces parties...
      - name: Récupération du dépôt git
        # Documentation sur https://github.com/actions/checkout/
        uses: actions/checkout@v5

      # ...tandis que d'autres exécutent un script spécifié par l'utilisateur,
      # ici du bash exécuté au sein d'une image Docker préparée par Sonny
      - name: Construction du site web
        run: |
          # On déplace les recettes à l'endroit attendu par astro-chef
          - echo "First step"
          - cp -r ./recettes $APP_DIR/recettes
          # On génère les pages HTML avec astro-chef
          - echo "Second step"
          - (cd $APP_DIR && yarn build)
          # On ramène ces pages à un endroit où le runner GitHub peut les voir
          - echo "Third step"
          - mv $APP_DIR/dist .

      # Pour des raisons de sécurité, GitHub encouragent fortement à ne pas
      # donner directement la permission de mettre le site en ligne à un job
      # complexe utilisant du code qu'on n'a pas sérieusement audité au niveau
      # sécu. A la place, ils recommandent d'utiliser deux jobs:
      #
      # - Ce premier job génère le site et empaquète les fichiers résultants
      #   au sein d'un artefact (grosso modo une archive compressée).
      # - Un deuxième job récupère cet artefact et met le site en ligne. Il est
      #   focalisé sur cette tâche est ne fait rien d'autre. Seul ce job est
      #   doté des privilèges spéciaux permettant la mise en ligne d'un site.
      - name: Génération de l'artefact
        # Documentation sur https://github.com/actions/upload-pages-artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: dist/

  # Ce job met en ligne les pages HTML
  deploy:
    # Il dépend du job de construction du HTML (par défaut les jobs sont
    # considérés comme indépendants et s'exécutent en parallèle)
    needs: build

    # Il est investi de permissions supplémentaires qui lui permettent...
    permissions:
      pages: write      # ...de mettre des pages en ligne
      id-token: write   # ...et de s'authentifier comme source valide

    # On met en ligne sur GitHub pages, pas un autre hébergeur de site statique
    environment:
      name: github-pages
      # On donne un identifiant "pages" à l'étape de déploiement, ce qui nous
      # permet de récupérer l'url de la version en ligne dont on a besoin ici.
      url: ${{ steps.pages.outputs.page_url }}

    # Le reste est similaire à ce qu'on a vu précédemment
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: pages
        # Documentation sur https://github.com/actions/deploy-pages
        uses: actions/deploy-pages@v4

